*.class

# Package Files #
*.war
*.ear
target/
.classpath
.project
.settings
test-output/

# Project Files #
*.idea/
*.iml

# log files
log/
log

# tmp files
*~

# hidden file/directory
.*

!.gitignore
